<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>AI Radio</title>
</head>
<body>

    <div class="session-id">
        <p id="session-id"></p>
    </div>

    <div class="main">
        <div class="btn play" id="play-pause-button">
            <span class="bar bar-1"></span>
            <span class="bar bar-2"></span>       
        </div>    
      
        <div class="version">
            <p> UI v0.2.0 </p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        const playPauseButton = document.getElementById('play-pause-button');
        const sessionIDText = document.getElementById('session-id');
        const sessionIDDefault = 'Connecting...'
        sessionIDText.innerHTML = sessionIDDefault
        let connectedToServer = false;

        let audio={paused:true}

        function generateid() {
            return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
        }
        const id = generateid()

        // Connect to WebSocket
        const socket = io({
            extraHeaders: {
                "id": id,
            }
        });
        socket.on('connect', function() {
            console.log('Authorized via websocket');
            sessionIDText.innerHTML = "Session ID: " + id
            connectedToServer = true
        });
        socket.on('disconnect', function() {
            console.log('Disconnected from server');
            sessionIDText.innerHTML = sessionIDDefault
            connectedToServer = false
        });

        const loadedDataHandler = () => {
            if (audio.readyState >= 2) {
                audio.play();
            }
            if (audio.readyState > 2) {
                playPauseButton.classList.remove('loading');
                playPauseButton.classList.add('pause');
            }
        };
        const errorHandler = err => {
            audioErr('Loading audio failed', err)
        };
        const stalledHandler = () => {
            audioStop()
            playPauseButton.classList.remove('play')
            playPauseButton.classList.remove('pause')
            playPauseButton.classList.add('loading')
            setTimeout(() => {
                audioStart()
            }, 2000);
        };

        function audioStop() {
            try {
                audio.pause();
                audio.removeEventListener("loadeddata", loadedDataHandler);
                audio.removeEventListener("error", errorHandler);
                audio.removeEventListener("stalled", stalledHandler);
                audio.removeEventListener("ended", stalledHandler);
                audio.src = ''
            }
            catch (err) {}
        }
        function audioStart(user=false) {

            if (!connectedToServer) {
                if(playPauseButton.classList.contains('play') && !user) return
                playPauseButton.classList.remove('play')
                playPauseButton.classList.remove('pause')
                playPauseButton.classList.add('loading')
                setTimeout(() => {
                    audioStart()
                }, 2000);
                return
            }

            audio = new Audio('/listen?id=' + id);
            if (!audio.canPlayType('audio/mpeg')) {
                return audioErr('Type not currently supported', '', false)
            }
            playPauseButton.classList.remove('play')
            playPauseButton.classList.remove('pause')
            playPauseButton.classList.add('loading');
            audio.addEventListener("loadeddata", loadedDataHandler);
            audio.addEventListener('error', errorHandler);
            audio.addEventListener('stalled', stalledHandler);
            audio.addEventListener('ended', stalledHandler);
        }
        function audioErr(msg, err, repeat=true) {
            console.warn(msg)
            console.warn(err)
            if(repeat) stalledHandler()
        }

        playPauseButton.addEventListener('click', function() {

            if (playPauseButton.classList.contains('pause') || playPauseButton.classList.contains('loading')) {
            
                audioStop()  
                playPauseButton.classList.remove('pause')
                playPauseButton.classList.remove('loading');
                playPauseButton.classList.add('play')
            } 
            else if (!playPauseButton.classList.contains('loading')) {
                audioStart(true)
            }
        });

    </script>    
</body>
</html>