<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Stream</title>
</head>
<body>
    <button id="playPauseButton">Play</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var playPauseButton = document.getElementById('playPauseButton');
        var audio = {}
        audio.paused = true

        function generateDeviceId() {
            var currentDate = new Date();
            var timestamp = currentDate.getTime();
            var randomId = Math.random().toString(36).substr(2, 9);
            return randomId + timestamp;
        }
        var devId = generateDeviceId()

        // Connect to WebSocket
        var socket = io({
            extraHeaders: {
                'Device-ID': devId // Generuj i dodaj nagłówek Device-ID przy połączeniu WebSocket
            }
        });

        socket.on('connect', function() {
            console.log('Authorized via WebSocket');
        });

        socket.on('disconnect', function() {
            console.log('Disconnected from WebSocket');
            try {audio.pause()} catch(e) {}
            playPauseButton.textContent = 'Play';
        });

        playPauseButton.addEventListener('click', function() {
            if (!audio.paused) {       
                audio.pause();
                audio.src=''
                playPauseButton.textContent = 'Play';
            } else {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/listen', true);
                xhr.setRequestHeader('Device-ID', devId); // Generuj i dodaj nagłówek Device-ID do żądania HTTP
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        audio = new Audio(URL.createObjectURL(xhr.response));
                        audio.play();
                        playPauseButton.textContent = 'Pause';   
                    }
                };
                xhr.responseType = 'blob';
                xhr.send();           
            }
        });
    </script>    
</body>
</html>
