<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Radio</title>
</head>
<body>
    <button id="playPauseButton">Play</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var playPauseButton = document.getElementById('playPauseButton');
        var audio={paused:true}

        function generateid() {
            return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
        }

        const id = generateid()

        // Connect to WebSocket
        var socket = io({
            extraHeaders: {
                "id": id,
            }
        });
        socket.on('connect', function() {
            console.log('Authorized via websocket');
        });
        socket.on('disconnect', function() {
            console.log('Disconnected from server');
            try {audio.pause()} catch(e) {}
            playPauseButton.textContent = 'Play';
        });

        function audioStop() {
            audio.pause();
            audio.src = ''
            playPauseButton.textContent = 'Play';
        }
        function audioErr(error) {
            playPauseButton.textContent = 'Error: ' + error + ' . Refresh page to continue.';
        }
        playPauseButton.addEventListener('click', function() {
            if (!audio.paused && playPauseButton.textContent.includes('Pause')) {  
                audioStop()  
            } 
            else if (playPauseButton.textContent == 'Play') {
                audio = new Audio('/listen?id=' + id);
                if (!audio.canPlayType('audio/mpeg')) {
                    audioErr('Type not currently supported')
                }
                audio.addEventListener('playing', function() {
                    playPauseButton.textContent = 'Pause (still buffering...)'; // Change button content when audio is ready
                });
                audio.addEventListener('canplaythrough', function() {
                    playPauseButton.textContent = 'Pause'; // Change button content when audio is ready
                });
                audio.addEventListener('stalled', function() {
                    audioStop()
                });
                audio.addEventListener('ended', function() {
                    audioStop()
                });
                audio.addEventListener('error', err => {
                    if(!err.target.paused) audioErr('Loading audio failed')
                });
                playPauseButton.textContent = 'Loading...';     
                audio.play()
            }
        });
    </script>    
</body>
</html>