@keyframes fadeOutIn {
  0% { scale: 1 }
  25% { scale: 0.9 }
  50% { scale: 1 }
  75% { scale: 1.1 }
  100% { scale: 1 }
}
@keyframes moveUpDown {
  0% { margin-top: 0px }
  25% { margin-top: 5px }
  50% { margin-top: 0px; }
  75% { margin-top: -5px }
  100% { margin-top: 0px }
}

:root {
  --background-color: #1e1e1e; /* Dark gray */
  --text-color: #ffffff; /* White */
  --btn-border: rgb(114, 113, 229) 3px solid;
  --btn-hover-border: #3a4cd6 3px solid;
  --version-font-color: #0bceff;
  --theme-switcher-content: '\f185';
  --theme-switcher-color: #ffff00;
  --theme-switcher-font: var(--fa-font-solid);
  --theme-switcher-bg-color: #343232;
  --text-color-nowplaying: #0bff89;
}
[data-theme="light"] {
  --background-color: #fff;
  --text-color: #222;
  --btn-border: rgb(15, 60, 242) 3px solid;
  --version-font-color: #422ce2;
  --theme-switcher-content: '\f186';
  --theme-switcher-color: #222;
  --theme-switcher-font: var(--fa-font-regular);
  --theme-switcher-bg-color: #e2d561;
  --text-color-nowplaying: #1aa747;
}
@media (prefers-color-scheme: dark) {}

body {
  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.session-id {
  font-size: 20px;
  text-align: center;

}

.version {
  font-size: 30px;
  color: var(--version-font-color);
  text-align: center;
}

.main {
  min-height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 40px; /* Dostosuj szerokość, aby pasowała do ikony */
  height: 40px; /* Dostosuj wysokość, aby pasowała do ikony */
  background-color: var(--theme-switcher-bg-color);
  border-radius: 20px;
  margin-bottom: 40px;
}

.theme-switch input[type="checkbox"] {
  display: none; /* Ukryj standardowy checkbox */
}

.theme-switch::before {
  content: var(--theme-switcher-content); /* Ustaw ikonę */
  font: var(--theme-switcher-font);
  color: var(--theme-switcher-color);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px; /* Dostosuj rozmiar ikony */
}

.btn {
  scale: 4;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 40px;
  height: 40px;
  border: var(--btn-border);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  
  &:hover {
    border: var(--btn-hover-border);
    .bar {
      background-color: #1aa747; 
    }
  }

  
  .bar {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 3px;
    height: 20px;
    border-radius: 3px;
    background-color: rgb(228, 27, 27);
    transform-origin: center;
    transition: transform 0.4s ease-in-out, background 0.1s ease-in-out, margin-top 0.4s;
  }
  
  &.loading {
    .bar {
      background-color: rgb(230, 14, 14);
      animation: moveUpDown 1s infinite;
    }
    .bar-1 {
      transform: translateX(13.5px) translateY(0px) rotate(0deg);
      animation-delay: 0.5s;
    }
    .bar-2 {
      transform: translateX(24px) translateY(0px) rotate(0deg);
    }
  }  

  &.pause {
    .bar {
      background-color: rgb(14, 230, 54);
    }
    .bar-1 {
      margin-top: 0px;
      transform: translateX(13.5px) translateY(0px) rotate(0deg);
    }
    .bar-2 {
      margin-top: 0px;
      transform: translateX(24px) translateY(0px) rotate(0deg);
    }
  }
  
  &.play {
    .bar {
      background-color: rgb(41, 239, 23);
    }
    .bar-1 {
      margin-top: 0px;
      transform: translateX(20px) translateY(-5px) rotate(-55deg);
    }
    .bar-2 {
      margin-top: 0px;
      transform: translateX(20px) translateY(5px) rotate(-125deg);
    }
  }
  &.play-loading {
    .bar {
      background-color: rgb(230, 14, 14);
      animation: fadeOutIn 1s infinite;
    }
    .bar-1 {
      transform: translateX(20px) translateY(-5px) rotate(-55deg);
    }
    .bar-2 {
      transform: translateX(20px) translateY(5px) rotate(-125deg);
    }
  }
}

.player-info-box {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: left;
  max-width: 80vw;
  color: var(--text-color);
}

.player-info-box img {
  max-width: 100px; 
  max-height: 150px;
  margin-right: 15px;
}

.text-info {
  display: flex;
  flex-direction: column;
}
.text-info p {
  margin: 0;
}
.text-info #currently-playing-author {
  font-size: 15px;
}